/vendor/
vedor/
/node_modules/
.DS_Store
*.log
*.zip
*.tar.gz
*.bak
*.tmp
.idea/
*.sublime-project
*.sublime-workspace
*.env
*.env.local
*.env.*.local
*.phpunit.result.cache
.phpunit.xml
.phpunit.xml.dist
composer.lock
composer.phar